USE [master]
GO
/****** Object:  Database [BookPortalDB]    Script Date: 4/29/2019 12:12:19 AM ******/
CREATE DATABASE [BookPortalDB] ON  PRIMARY 
( NAME = N'BookPortalDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\BookPortalDB.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BookPortalDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\BookPortalDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BookPortalDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BookPortalDB]
GO
/****** Object:  Table [dbo].[Review]    Script Date: 4/29/2019 12:12:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Review](
	[ReviewId] [int] IDENTITY(1,1) NOT NULL,
	[Category] [nchar](50) NULL,
	[BookName] [nchar](50) NULL,
	[ReviewType] [nchar](50) NULL,
	[BookSubject] [nchar](50) NULL,
	[BookAnalysis] [nchar](999) NULL,
	[AuthorName] [nchar](50) NULL,
	[OtherBooks] [nchar](50) NULL,
 CONSTRAINT [PK_Review] PRIMARY KEY CLUSTERED 
(
	[ReviewId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Review] ON 

SET IDENTITY_INSERT [dbo].[Review] OFF
USE [master]
GO
