<div class="section" id="recent-projects" style="position: relative;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="section-title">Popular Books</h2>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="book_archive-item.html" class="link-book_archive">
                    <div class="overlay-book_archive">
                        <h3>Book1 Template</h3>
                        <small class="text-muted">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pulvinar quam sed consequat adipiscing.
                        </small>
                    </div><!-- /.overlay-book_archive -->
                    <img class="img-responsive img-home-book_archive" src="~/img/book_archive_1.png" alt="book_archive 1">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="book_archive-item.html" class="link-book_archive">
                    <div class="overlay-book_archive">
                        <h3>Book1 Template</h3>
                        <small class="text-muted">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pulvinar quam sed consequat adipiscing.
                        </small>
                    </div><!-- /.overlay-book_archive -->
                    <img class="img-responsive img-home-book_archive" src="~/img/book_archive_2.png" alt="book_archive 2">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="book_archive-item.html" class="link-book_archive">
                    <div class="overlay-book_archive">
                        <h3>Book1 Template</h3>
                        <small class="text-muted">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pulvinar quam sed consequat adipiscing.
                        </small>
                    </div><!-- /.overlay-book_archive -->
                    <img class="img-responsive img-home-book_archive" src="~/img/book_archive_3.png" alt="book_archive 3">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="book_archive-item.html" class="link-book_archive">
                    <div class="overlay-book_archive">
                        <h3>Book1 Template</h3>
                        <small class="text-muted">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pulvinar quam sed consequat adipiscing.
                        </small>
                    </div><!-- /.overlay-book_archive -->
                    <img class="img-responsive img-home-book_archive" src="~/img/book_archive_4.png" alt="book_archive 4">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="book_archive-item.html" class="link-book_archive">
                    <div class="overlay-book_archive">
                        <h3>Book1 Template</h3>
                        <small class="text-muted">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pulvinar quam sed consequat adipiscing.
                        </small>
                    </div><!-- /.overlay-book_archive -->
                    <img class="img-responsive img-home-book_archive" src="~/img/book_archive_5.png" alt="book_archive 5">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="book_archive-item.html" class="link-book_archive">
                    <div class="overlay-book_archive">
                        <h3>Book1 Template</h3>
                        <small class="text-muted">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pulvinar quam sed consequat adipiscing.
                        </small>
                    </div><!-- /.overlay-book_archive -->
                    <img class="img-responsive img-home-book_archive" src="~/img/book_archive_6.png" alt="book_archive 6">
                </a>
            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /.section -->
