@model IEnumerable<BookPortal.Models.ReviewsDB>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@foreach (var item in Model)
{
<p>@item.BookName</p>
}

@foreach (var item in Model)
{
<p>@item.Content</p>
}

