#deleteform {
    padding: 10px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin: 24px;
    margin-left: 40px;
}
#addform {
    padding: 10px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top:25px;
}
