
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Contact Us!</h2>

<h3>Bahcesehir University - Yildiz Mh., Ciragan Cd., 34349 Besiktas/Istanbul</h3>
<h3>+90 (212) 570 00 00</h3>
<h3>info@bahcesehir.com</h3>


