
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="contact" style="
    font-size: 7px;
    margin-left: 28%;
">

    <h2 style="
    font-weight: bold;
    margin-left: 20%;
">
        Contact Us!
    </h2>

    <h2 style="font-size: 21px;color: black;">
        Adress: Bahcesehir University - Yildiz Mh., Ciragan Cd., 34349 Besiktas/Istanbul
    </h2>
    <h2 style="font-size: 21px; color: black;">Our Phone Number:+90 (212) 570 00 00</h2>
    <h2 style="font-size: 21px; color: black;">
        Our Mail Adress: <a href="mailto:info@bahcesehir.com">info@bahcesehir.com</a>

    </h2>
</div>

    <div class="section-colored">
        <div class="container">
            <h3 class="section-title text-center">Our Partners</h3>

            <div class="container clients">
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                        <a href="#"><img class="img-responsive" src="~/img/client-1.png" alt="client 1"></a>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                        <a href="#"><img class="img-responsive" src="~/img/client-2.png" alt="client 2"></a>
                    </div>

                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                        <a href="#"><img class="img-responsive" src="~/img/client-3.png" alt="client 3"></a>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                        <a href="#"><img class="img-responsive" src="~/img/client-7.png" alt="client 4"></a>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                        <a href="#"><img class="img-responsive" src="~/img/client-5.png" alt="client 5"></a>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                        <a href="#"><img class="img-responsive" src="~/img/client-6.png" alt="client 6"></a>
                    </div>
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.container -->
    </div><!-- /.section-colored -->

    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="block-icon">
                        <i class="fa fa-eye"></i>
                    </div>
                    <div class="block-body">
                        <h2>Visual Version</h2>
                        <div class="line-subtitle"></div>
                        <p>You can view the reviews created by admin with images.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="block-icon">
                        <i class="fa fa-bars"></i>
                    </div>
                    <div class="block-body">
                        <h2>Listed Version</h2>
                        <div class="line-subtitle"></div>
                        <p>You can view the created reviews in a list.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="block-icon">
                        <i class="fa fa-child"></i>
                    </div>
                    <div class="block-body">
                        <h2>Easy Operation</h2>
                        <div class="line-subtitle"></div>
                        <p>We are a book portal that is understandable and guiding.</p>
                    </div>
                </div>
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.section -->






    